/* (Lauren)fiz uns pequenos ajustes no front para ficar dentro da id visual do jogo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #397d4e;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.modos {
  height: 90vh;
  width: 90vw;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 10px;
  /* box-shadow: 10px 10px 30px 10px #0000005e; */
}

.quit {
  background-color: #912f2f;
  height: 100x;
  width: 100px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  padding: 0, 1px 0, 1px;
  margin: 0px 30px 0px 10px;
  transition: all 0.5s;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*(Lauren)adicionei o hover para o botão "back" também ter seu estilo alterado quando o cursor passar por cima*/
.quit:hover {
  box-shadow: 5px 0px 70px 10px #00000082;
  background-color: #397d4e;
  color: rgba(0, 0, 0, 0.889);
  transition: 130ms linear;
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

#personagem {
  position: absolute;
  width: 20px;
  height: 40px;
  background-color: red;
  background-image: url("imagens/personagem.png");
}

#bandeira {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: blue;
  background-image: url("imagens/bandeira-win.png");
  display: block;
}

/*(Lauren) */
#bomba1 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 255, 30);
}

#bomba2 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(196, 183, 13);
}

#bomba3 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(221, 45, 191);
}

#bomba4 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(86, 17, 91);
}

#bomba5 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(195, 92, 92);
}

#bomba6 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 0);
}

#cronometro {
  background-color: #912f2f;
  height: 50px;
  width: 50px;
  font-size: 30px;
  font-weight: 40px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  padding: 0, 1px 0, 1px;
  margin: 0px 30px 0px 10px;
  transition: all 0.5s;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}